
 <div class="card-block" id="snip-title">
   <h6>Want to save your snippets?</h6>
 </div>
 <div class="card-block">
   <strong>Create an account</strong>
  <div class="form-group">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Create my account" %>
  </div>
<% end %>

</div>
<!--form group-->

<%= render "devise/shared/links" %>

 </div> <!--card-block-->

