<%= form_for @snippet, remote: true do |f| %>

  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="snippet-card">
    <div class="form-group">
    <div class="card-block">
      <h4 class="card-title ">
        <%= f.label :title, class:'sr-only' %>
        <%= f.text_field :title, autofocus: true, placeholder: 'title', class: 'form-control' %>
      </h4>

      <div class="input-group">
        <div class="input-group-addon">
          <i class ='fa fa-tag'></i>
        </div>
        <%= f.text_field :tag_list, placeholder: 'tag1, tag2, one tag, ', value: @snippet.tag_list.to_s%>
        <%= f.text_field :project_list, value: @snippet.project_list.to_s %>
      </div>

        <%= f.label :content, class: 'sr-only' %>
        <%= f.text_area :content, rows: 15, class: 'form-control' %>
      <small class="form-text">Add an image</small>
      <%= f.file_field :image, class: 'form-control', id: 'new_image' %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <small><%= f.label :remove_image %></small>
      <%= f.check_box :remove_image, class: 'checkbox inline' %>
      <div class="card-block">
        <% if @snippet.new_record? %>
         <%= f.submit 'Create snippet', class: "btn btn-primary btn-inverse" %>
        <% else	%>
          <%= f.submit 'Save changes', class: "btn btn-primary btn-inverse" %>
        <% end %>
        <%= link_to 'Go back without saving', snippets_path %>
      </div>
    </div>
  </div>
<% end %>
</div>