<%= form_for @snippet, remote: true do |f| %>

    <div class="snippet-card">
      <div class="card-block">
        <div class="form-inputs" style="padding-bottom: 7px">
          <%= f.text_field :title, autofocus: true, placeholder: 'title', class: 'form-control' %>
        </div>
        <div class="form-inputs" style="text-align: left">
          <%= f.trix_editor :content, rows: 15 %>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-addon">
          <i class ='fa fa-tag'></i>
        </div>
        <%= f.text_field :tag_list, placeholder: 'tag1, tag2, one tag, ', value: @snippet.tag_list.to_s%>
        <%= f.text_field :project_list, value: @snippet.project_list.to_s %>
      </div>

      <div class="card-block">
        <% if @snippet.new_record? %>
            <%= f.button 'Create snippet', class: 'btn btn-primary btn-inverse', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Snipping ..."} %>
        <% else	%>
            <%= f.button 'Save changes', class: 'btn btn-primary btn-inverse', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Snipping ..."} %>
        <% end %>
        <%= link_to 'Go back without saving', snippets_path %>
      </div>
    </div>

    <% if @snippet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(snippet.errors.count, 'error') %> prohibited this snippet from being saved:</h2>
        <ul>
        <% @snippet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<% end %>