<p id="notice"><%#= notice %></p>

  <div id='new_form_link'>
      <h4 class="card-title">
        <p><%= link_to new_snippet_path, remote: true do %>
            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
            <% end %></p>
      </h4>
  </div>

<div class="card-columns">
  <!--snippets cards-->
  <% @snippets.each do |snippet| %>
    <div class="card">
      <div class="card-block" id="snip-title">
        <h6><%= link_to snippet.title.capitalize, snippet_path(snippet) %>
        </h6>
      </div>
      <!--put image outside of a card-block, to get rid of padding -->
      <%= image_tag(snippet.image_url.to_s, class: "card-img-top img-fluid") %>
      <div class="card-block card-text">
        <%= markdown(snippet.content).html_safe %>
      </div>
      <div class="card-block">
        <small><%= snippet.created_at.strftime("%B %e") %> </small>
      </div>
      <div class="card-footer text-muted">

        <i class ='fa fa-tag'></i> <%= raw snippet.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %> <%= link_to snippet, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
            <i class="fa fa-trash-o pull-right grey-link" style='position: relative; top: 5px' aria-hidden="true"></i>
        <% end %>
      </div>
    </div><!-- /.card -->
  <% end %><!-- end of snippets -->
</div><!-- /.columns-->