<p id="notice"><%= notice %></p>

  <div id='new_form_link'>
      <h4 class="card-title">
        <p><%= link_to new_snippet_path, remote: true do %>
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
            <% end %></p>
      </h4>
  </div>

<div class="card-columns">
  <!--snippets cards-->
  <% @snippets.each do |snippet| %>
    <div class="card ">
      <div class="card-block">
        <h4 class="card-title"><%= link_to snippet.title.capitalize, edit_snippet_path(snippet) %>
        </h4>
      </div>
      <div class="card-block">
        <%= image_tag(snippet.image_url(:thumb).to_s, class: "card-img-top") %>
      </div>
      <div class="card-block">
        <p class="card-text"><%= markdown(snippet.content).html_safe %></p>
      </div>
      <div class="card-block">
        <small><%= snippet.created_at.strftime("%B %e") %> </small>
      </div>
      <div class="card-footer text-muted">
        tags<%= link_to snippet, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
            <i class="fa fa-trash-o pull-right" style='position: relative; top: 5px' aria-hidden="true"></i>
        <% end %>
      </div>
    </div><!-- /.card -->
  <% end %><!-- end of snippets -->
</div><!-- /.columns-->