<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Preview</a>
  </li>
  <li class="nav-item">
     <!--TODO add js to load content-->
    <div class="nav-link"><%= link_to 'Edit', edit_snippet_path(@snippet) %> </div>
  </li>
</ul>

<div class="card">

    <div class="card-block" id="snip-title">
      <h4 class="card-title"><%= @snippet.title.capitalize %></h4>
    </div>

    <div class="card-block">
      <%= markdown(@snippet.content).html_safe %>
      <%= image_tag(@snippet.image_url.to_s) %>
    </div>

    <div class="card-block">
      <small><%= @snippet.created_at.strftime("%B %e") %> </small>
    </div>

    <div class="card-footer text-muted">
      <i class ='fa fa-tag'></i>
        <%= raw @snippet.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %>
        <%= link_to @snippet, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
          <i class="fa fa-trash-o pull-right" style='position: relative; top: 5px' aria-hidden="true"></i>
        <% end %>
    </div>

    <div class="card-block">
      <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
      <%= link_to 'Back', snippets_path %>
    </div>

</div>