<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @snippet.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@snippet.content).html_safe %>
</p>

<%= image_tag(@snippet.image_url.to_s) %>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
